.section-map {
  position: relative;
  padding: 180px 0;

  @include mediaTablet {
    padding: 90px 0;
  }

  &::before {
    right: calc(50% + 555px);
    transform: translate(50%, 0%);
    content: "V";
    z-index: -1;

    @include decorNumber;
    top: 180px;
    line-height: 1;

  }
}
.section-map__title {
  margin-bottom: 88px;

  @include mediaTablet {
    margin-bottom: 40px;
  }
}
.section-map__map {

}
.map {
  background-color: gray;
  height: 358px;
}